<a href="https://colab.research.google.com/github/franwave/Proyecto-Final-Coderhouse/blob/main/Entrega_Ruiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importación de librerías y archivos

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Entrenamiento de modelos
from sklearn.model_selection import train_test_split
# Métricas de desempeño
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

import io
from google.colab import files
uploaded = files.upload()
df_vgs = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')
df_vgs

Saving Video_Games_Sales_as_at_22_Dec_2016 (1).csv to Video_Games_Sales_as_at_22_Dec_2016 (1).csv

El dataset planteado para este proyecto consiste en las ventas generadas por diversos videojuegos, además de sus características (tales como su género, su año de lanzamiento, etc.).
Notemos que una columna del dataset corresponde a los nombres de los juegos, los cuales serán irrelevantes en la mayoría de nuestros análisis, por lo que crearemos un dataframe nuevo sin esta información.

In [ ]:
df_vgs = df_vgs.drop(columns=["Name"])
df_vgs

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

Análisis del tamaño del dataset

In [ ]:
df_vgs.shape

(16719, 15)

Nombres de columnas

In [ ]:
df_vgs.columns

Index(['Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

Tipos de datos por columna

In [ ]:
df_vgs.dtypes

Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

Registros totales por columna

In [ ]:
df_vgs.count()

Platform           16719
Year_of_Release    16450
Genre              16717
Publisher          16665
NA_Sales           16719
EU_Sales           16719
JP_Sales           16719
Other_Sales        16719
Global_Sales       16719
Critic_Score        8137
Critic_Count        8137
User_Score         10015
User_Count          7590
Developer          10096
Rating              9950
dtype: int64

Principales medidas estadísticas

In [ ]:
df_vgs.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,16450.0,2006.487356,5.878995,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16719.0,0.263330,0.813514,0.00,0.00,0.08,0.24,41.36
EU_Sales,16719.0,0.145025,0.503283,0.00,0.00,0.02,0.11,28.96
JP_Sales,16719.0,0.077602,0.308818,0.00,0.00,0.00,0.04,10.22
Other_Sales,16719.0,0.047332,0.186710,0.00,0.00,0.01,0.03,10.57
Global_Sales,16719.0,0.533543,1.547935,0.01,0.06,0.17,0.47,82.53
Critic_Score,8137.0,68.967679,13.938165,13.00,60.00,71.00,79.00,98.00
Critic_Count,8137.0,26.360821,18.980495,3.00,12.00,21.00,36.00,113.00
User_Count,7590.0,162.229908,561.282326,4.00,10.00,24.00,81.00,10665.00

En la columna de User_Score tendremos un valor 'tbd' (to be determined o para determinar luego), por lo que lo reemplazaremos por un valor nulo (su equivalente en float) para evitar problemas con strings

In [ ]:
plt.rcParams['figure.figsize'] = (20, 15)

sns.heatmap(df_limpio.corr(), annot = True, cmap = 'Wistia')
plt.title('Mapa de calor', fontsize = 20)
plt.show()

NameError: ignored

In [ ]:
df_limpio = df_vgs.replace({"tbd":np.nan})
df_limpio

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

# Opción de algoritmo 1: Random Forest

Nos interesará hacer un ranking de juegos tomando en cuenta la opinión, tanto popular como profesional, de las personas que lo valoran, sus plataformas y su clasificación. Posteriormente podremos ver qué compañías (publicadoras y desarrolladoras) tienen los mejores juegos (entendido como las mayores puntuaciones dadas por profesionales) y, tal vez, predecir que juego será exitoso si tomamos en cuenta todas sus variables.
Para esto realizaremos una *Random Forest de regresión*

In [ ]:
# # Elegimos variables predictoras (X) y variables target (y)
# X_forest = df_limpio.drop("Critic_Score", axis=1)
# y_forest = df_limpio.Critic_Score

In [ ]:
# # Importación del modelo
# from sklearn.ensemble import RandomForestRegressor
# # Creación de random forest
# forest_rg = RandomForestRegressor()
# # Partición de entrenamiento (80% train y 20% test)
# X_train, X_test, y_train, y_test = train_test_split(X_forest, y_forest, test_size=0.2)
# # Entrenamiento de modelo
# forest_rg.fit(X_train,y_train)
# # Predicción del modelo
# y_pred = forest_rg.predict(X_test)

# Opción de algortimo 2: K-vecinos

Debido a la alta presencia de valores nulos en la categoría "Rating"  (casi la mitad), intentaremos predecirlos para completar el dataframe y poder clasificar los juegos mediante una variable más.

In [ ]:
# Armaremos dos dataframes (uno únicamente con varibales categoricas y otro con numéricas) para no tener problemas con los tipos de datos
df_categorico = df_limpio[["Platform","Genre","Publisher","Developer","Rating"]]
df_numerico = df_limpio.drop(df_categorico, axis=1)
df_numerico["User_Score"] = df_numerico["User_Score"].astype(float)

In [ ]:
# Valores presentes en la columna de Rating
df_categorico["Rating"].unique()

array(['E', nan, 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

In [ ]:
# Elegimos variables predictoras (X) y variables target (y)
X_KNC = df_categorico.drop("Rating", axis=1)
y_KNC = df_categorico.Rating

In [ ]:
# Transformación a variables dummies
X_KNC = pd.get_dummies(X_KNC)
y_KNC = pd.get_dummies(y_KNC)

       AO  E  E10+  EC  K-A  M  RP  T
0       0  1     0   0    0  0   0  0
1       0  0     0   0    0  0   0  0
2       0  1     0   0    0  0   0  0
3       0  1     0   0    0  0   0  0
4       0  0     0   0    0  0   0  0
...    .. ..   ...  ..  ... ..  .. ..
16714   0  0     0   0    0  0   0  0
16715   0  0     0   0    0  0   0  0
16716   0  0     0   0    0  0   0  0
16717   0  0     0   0    0  0   0  0
16718   0  0     0   0    0  0   0  0

[16719 rows x 8 columns]

In [ ]:
# Importación del modelo
from sklearn.neighbors import KNeighborsClassifier
# Creación de modelo
KNC = KNeighborsClassifier(n_neighbors=5)

In [ ]:
# Partición de entrenamiento (80% train y 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_KNC, y_KNC, test_size=0.2)
# Entrenamiento de modelo
KNC.fit(X_train,y_train)
# Predicción del modelo
y_pred = KNC.predict(X_test)

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

ValueError: ignored

In [ ]:
from sklearn.metrics import accuracy_score
print('Accuracy score del modelo es:', accuracy_score(y_test, y_pred))

Accuracy score del modelo es: 0.6100478468899522